{% extends "base.twig" %}

{% block content %}
	<section>
		<div class="section-spacing section-padding bg-background scroll-mt-header" style="--scheme-disabled-accent: 73 73 72;--scheme-disabled: 210 210 209;--scheme-error: 189 32 32;--scheme-approved: 94 199 98;--scheme-on-accent: 28 28 26;--scheme-accent: 244 244 244;--scheme-border: 244 244 244;--scheme-alternate-background: 73 73 72;--scheme-background: 28 28 26;--scheme-text: 244 244 244;
		--section-spacing-sm: 3rem;--section-spacing-md: 4rem;--section-spacing-lg: 5rem;--section-padding-sm: 3rem;--section-padding-md: 4rem;--section-padding-lg: 5rem; " id="">
			<div class=" wrapper flex justify-center sm:justify-center">
				<div class="flex flex-col items-center sm:items-center w-full gap-6">
					<animate-scroll class="richtext-prose flex flex-col space-y-2 [&amp;_*]:my-0 items-center sm:items-center text-center sm:text-center text-text desktop sm: " style="animation-delay: calc(0*100ms)">
						<p>uh-oh!</p>
					</animate-scroll>
				
					<animate-scroll class="richtext-prose flex flex-col space-y-2 [&amp;_*]:my-0 items-center sm:items-center text-center sm:text-center text-text desktop sm: " style="animation-delay: calc(1*100ms)">
						<h1 class="my-2 text-heading-xl">Not what you’re looking for?</h1>
					</animate-scroll>

					<animate-scroll class="richtext-prose flex flex-col space-y-2 [&amp;_*]:my-0 items-center sm:items-center text-center sm:text-center text-text desktop sm: " style="animation-delay: calc(2*100ms)">
						<p>Sorry, we can't find that page. Recheck your search or explore our <a href="/" title="http://tonal.com">homepage</a>.</p>
					</animate-scroll>
						
				</div>
			</div>
		</div>
	</section>
{% endblock %}