.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-width: 1ujhpx;
  border-color: rgb(var(--scheme-accent));
  background-color: rgb(var(--scheme-accent));
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-family: var(--font-body);
  font-size: var(--font-size-body-md);
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.5;
  color: rgb(var(--scheme-on-accent));
  text-decoration-line: none;
  transition-property: color, background-color, border-color, opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.3s;
}

.button:hover {
  border-color: color-mix(in srgb, rgb(var(--scheme-accent)) 60%, white 40%);
  background-color: color-mix(
    in srgb,
    rgb(var(--scheme-accent)) 60%,
    white 40%
  );
}
