.prose {
  color: rgb(var(--scheme-text));
  max-width: 65ch;
  font-family: var(--font-body);
}

.richtext-prose {
  font-family: var(--font-body);
  max-width: 55ch;
}

.richtext-prose
  :where(h3):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  color: rgb(var(--scheme-text));
  font-weight: 900;
  font-size: var(--font-size-heading-ml);
  margin-top: 1.6em;
  margin-bottom: 0.6em;
  line-height: 90%;
}

.richtext-prose
  :where(h4):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  color: rgb(var(--scheme-text));
  font-weight: 900;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  line-height: 90%;
  font-size: var(--font-size-heading-md);
}

.richtext-prose
  :where(a):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  color: rgb(var(--scheme-accent));
  -webkit-text-decoration: underline;
  text-decoration: underline;
  font-weight: 500;
  text-decoration-color: rgb(var(--scheme-accent));
  transition: color 0.3s ease-in-out, text-decoration-color 0.2s ease-in-out;
}

.richtext-prose
  :where(a):not(:where([class~="not-prose"], [class~="not-prose"] *)):hover {
  color: rgb(var(--scheme-text)) !important;
  text-decoration-color: rgb(var(--scheme-text)) !important;
}

.richtext-prose > * {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
