<div>
  <div
    class="bg-background section-spacing section-padding text-text"
    data-full-width="false"
    style="
      --scheme-disabled-accent: 73 73 72;
      --scheme-disabled: 110 110 110;
      --scheme-error: 189 32 32;
      --scheme-approved: 94 199 98;
      --scheme-on-accent: 28 28 26;
      --scheme-accent: 17 221 196;
      --scheme-border: 73 73 72;
      --scheme-alternate-background: 246 246 241;
      --scheme-background: 255 255 255;
      --scheme-text: 28 28 26;
      --section-padding-sm: 3rem;
      --section-padding-md: 4rem;
      --section-padding-lg: 5rem;
    " >
    <div
      class="wrapper pb-10 flex flex-col md:gap-x-8 md:flex-row justify-between w-full" >
      <div class="text-text pb-4 md:pb-0 md:w-1/2 richtext-prose">
        <h3>What the press is saying</h3>
      </div>
    </div>
    <div class="wrapper pb-20">
      <div class="relative">
        <swiper-container
          class="relative z-default flex justify-center [&amp;>swiper-slide]:swiper-slide"
          init="false">
            <swiper-slide
                role="group"
                class=""
                style=" width: 404px; margin-right: 10px; transform: scale(0.8); transition: transform 0.3s ease-in-out;" >
                <animate-scroll
                class="h-full opacity-0 block animate-eased-slide-up"
                style="animation-delay: calc(0s)" >
                <article class="h-full flex flex-col pt-4 justify-center gap-2">
                    <div>
                        <div class="w-1/2">
                            <img
                            src="//tonal.com/cdn/shop/files/news-womenshealth.webp?v=1741110977&amp;width=200"
                            alt=""
                            srcset="//tonal.com/cdn/shop/files/news-womenshealth.webp?v=1741110977&amp;width=200 200w"
                            width="200"
                            height="45"
                            loading="lazy"
                            class="mb-2 h-full max-h-[50px] w-auto"
                            />
                        </div>
                        <div class="richtext-prose">
                            <p> “This is *the* smart home gym setup worth investing in due to several features that other smart gyms don’t have." </p>
                        </div>
                    </div>
                </article></animate-scroll>
            </swiper-slide>
            <swiper-slide
                role="group"
                class=""
                style="width: 404px; margin-right: 10px; transform: scale(0.8); transition: transform 0.3s ease-in-out;">
                <animate-scroll
                class="h-full opacity-0 block animate-eased-slide-up"
                style="animation-delay: calc(0.1s)" >
                  <article class="h-full flex flex-col pt-4 justify-center gap-2">
                    <div>
                      <div class="w-1/2">
                          <img
                          src="//tonal.com/cdn/shop/files/Forbes-mobile.png?v=1745963295&amp;width=200"
                          alt=""
                          srcset="//tonal.com/cdn/shop/files/Forbes-mobile.png?v=1745963295&amp;width=200 200w"
                          width="200"
                          height="50"
                          loading="lazy"
                          class="mb-2 h-full max-h-[50px] w-auto" />
                      </div>
                    <div class="richtext-prose">
                        <p> “It’s the first piece of digital weight training equipment  I’ve used that makes improving your performance easy.” </p>
                    </div>
                    </div>
                </article></animate-scroll>
              </swiper-slide>
              <swiper-slide
                role="group"
                style=" width: 404px; margin-right: 10px; transform: scale(0.8); transition: transform 0.3s ease-in-out;" >
                <animate-scroll
                  class="h-full opacity-0 block animate-eased-slide-up"
                  style="animation-delay: calc(0.2s)" >
                  <article class="h-full flex flex-col pt-4 justify-center gap-2">
                    <div>
                    <div class="w-1/2">
                        <img
                        src="//tonal.com/cdn/shop/files/Logo-GQ.png?v=1745881637&amp;width=200"
                        alt=""
                        srcset="//tonal.com/cdn/shop/files/Logo-GQ.png?v=1745881637&amp;width=200 200w"
                        width="200"
                        height="105"
                        loading="lazy"
                        class="mb-2 h-full max-h-[50px] w-auto"/>
                    </div>
                    <div class="richtext-prose">
                        <p>"Tonal 2 Has Finally Made Me Like Strength Training"</p>
                    </div>
                    </div>
                </article></animate-scroll>
              </swiper-slide>
              <swiper-slide
                role="group"
                style=" width: 404px; margin-right: 10px; transform: scale(0.8); transition: transform 0.3s ease-in-out;" >
                <animate-scroll
                class="h-full opacity-0 block animate-eased-slide-up"
                style="animation-delay: calc(0.3s)">
                <article class="h-full flex flex-col pt-4 justify-center gap-2">
                    <div>
                    <div class="w-1/2">
                        <img
                        src="//tonal.com/cdn/shop/files/PS-mobile.png?v=1745963295&amp;width=200"
                        alt=""
                        srcset="//tonal.com/cdn/shop/files/PS-mobile.png?v=1745963295&amp;width=200 200w"
                        width="200"
                        height="119"
                        loading="lazy"
                        class="mb-2 h-full max-h-[50px] w-auto" />
                    </div>
                    <div class="richtext-prose">
                        <p>"I'm a Trainer and Tonal 2 Is the Best At-Home Fitness Machine I've Tried"</p>
                    </div>
                    </div>
                </article>
                </animate-scroll>
                </swiper-slide>
                <swiper-slide
                role="group"
                style=" width: 404px; margin-right: 10px; transform: scale(0.8); transition: transform 0.3s ease-in-out;">
                <animate-scroll
                class="h-full opacity-0 block animate-eased-slide-up"
                style="animation-delay: calc(0.4s)">
                <article class="h-full flex flex-col pt-4 justify-center gap-2">
                    <div>
                    <div class="w-1/2">
                        <img
                        src="//tonal.com/cdn/shop/files/Logo-GQ.png?v=1745881637&amp;width=200"
                        alt=""
                        srcset="//tonal.com/cdn/shop/files/Logo-GQ.png?v=1745881637&amp;width=200 200w"
                        width="200"
                        height="105"
                        loading="lazy"
                        class="mb-2 h-full max-h-[50px] w-auto" />
                    </div>
                    <div class="richtext-prose">
                        <p>"Best Smart Home Gym: Tonal 2"</p>
                    </div>
                    </div>
                </article></animate-scroll>
                </swiper-slide>
                <swiper-slide
                role="group"
                style=" width: 404px; margin-right: 10px; transform: scale(0.8); transition: transform 0.3s ease-in-out;"
                class=""
                ><animate-scroll
                class="h-full opacity-0 block animate-eased-slide-up"
                style="animation-delay: calc(0.5s)"
                ><article class="h-full flex flex-col pt-4 justify-center gap-2">
                    <div>
                    <div class="w-1/2">
                        <img
                        src="//tonal.com/cdn/shop/files/Logo-GQ.png?v=1745881637&amp;width=200"
                        alt=""
                        srcset="//tonal.com/cdn/shop/files/Logo-GQ.png?v=1745881637&amp;width=200 200w"
                        width="200"
                        height="105"
                        loading="lazy"
                        class="mb-2 h-full max-h-[50px] w-auto"
                        />
                    </div>
                    <div class="richtext-prose">
                        <p>"Tonal 2 Has Finally Made Me Like Strength Training"</p>
                    </div>
                    </div>
                </article></animate-scroll></swiper-slide>
          </swiper-container>
        <div class="w-full relative -bottom-6 h-11">
          <div class="absolute right-[20%] sm:right-[10%]">
            <div class="absolute right-0 w-10">
              <button
                type="button"
                class="slider-button-prev "
                tabindex="0"
                aria-label="Previous slide"
                aria-controls="swiper-wrapper-74aecf792d894dab"></button>
            </div>
            <div class="ml-4 absolute left-0 w-10">
              <button
                type="button"
                class="slider-button-next"
                tabindex="0"
                aria-label="Next slide"
                aria-controls="swiper-wrapper-74aecf792d894dab"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>